---
import MainPage from "../components/MainPage.jsx";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <title>Libros | Ourlumina</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="min-h-screen bg-[url('/background.jpeg')] bg-cover bg-center bg-no-repeat text-gray-900 backdrop-blur-sm p-4">
    <MainPage client:load />
  </body>
</html>
